---
layout: archive
title: "News"
permalink: /talks/
author_profile: true
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %} -->

<ul>

  <li><strong>September 2025:</strong> I was selected as reviewer for ICLR 2026.</li>
  <li><strong>August 2025:</strong> Our paper "Beyond Detection: Comparative Explainability Study on Trypanosoma cruzi Using CAMs and DETR Attention" got accepted at IEEE BHI'25.</li>
  <li><strong>July 2025:</strong> I was selected as reviewer for RTSS 2025.</li>
  <li><strong>July 2025:</strong> Our paper "FedVLM: Scalable Personalized Vision-Language Models through Federated Learning" got accepted at ECAI'25.</li>
  <li><strong>May 2025:</strong> I returned to the Los Alamos National Lab as an intern with the Materials Science and Technology (MST) Division's MST-8 group.</li>
  <li><strong>May 2025:</strong> I was selected as reviewer for BMVC 2025.</li>
  <li><strong>September 2024:</strong> I was selected as reviewer for ICLR 2025.</li>
  <li><strong>May 2024:</strong> I started my internship as an Applied Machine Learning Research Fellow at the Los Alamos National Lab.</li>
  <li><strong>April 2024:</strong> I was awarded the Kelcy Warren Graduate Fellowship for Engineering at UTA.</li>
  <li><strong>March 2024:</strong> I received the Travel Grant Award to attend The Network and Distributed System Security Symposium (NDSS) 2024.</li>
  <li><strong>February 2024:</strong> Our article titled “Towards named data networking technology: Emerging applications, use cases, and challenges for secure data communication” got published in the Future Generation Computer Systems journal.</li>
  <li><strong>February 2024:</strong> I joined the student volunteers at VehicleSec'24.</li>
  <li><strong>January 2024:</strong> Our article "AutoWatch: Learning Driver Behavior with Graphs for Auto Theft Detection and Situational Awareness" was accepted to VehicleSec'24.</li>
  <li><strong>September 2023:</strong> I was selected as one of the recipients of the 2023 Tapia Registration scholarship to attend ACM Richard Tapia Celebration of Diversity in Computing Conference.</li>
  <li><strong>August 2023:</strong> I was selected as one of the recipients of the participant support stipend for 2023 STARS Celebration.</li>
  <li><strong>May 2023:</strong> Our paper titled “Deep Reinforcement Learning for Energy-Efficient Task Offloading in Cooperative Vehicular Edge Networks” got accepted in the 2023 IEEE International Conference on Industrial Informatics.</li>
  <li><strong>May 2023:</strong> Our paper titled “FedCime: An Efficient Federated Learning Approach For Clients in Mobile Edge Computing” got accepted in the 2023 IEEE International Conference on Edge Computing and Communications.</li>
  <li><strong>March 2023:</strong> I was selected as one of the recipients of the NSF student travel award for the 2023 CPS-IoT Week”.</li>
  <li><strong>November 2022:</strong> I volunteered as an exhibitor during SC 22 at Dallas, TX”.</li>
  <li><strong>October 2022:</strong> I was recognized as an "Outstanding Teaching Assistant" by the Computer Science and Engineering department at UTA”.</li>
  <li><strong>July 2022:</strong> Our paper "Survey of Interoperability Challenges in the Internet of Vehicles" got accepted in the Transactions of Intelligent Transportation Systems</li>
  <li><strong>April 2022:</strong> We won the best paper award at AutoSec 2022 for our paper “A Framework for Consistent and Repeatable Controller Area Network IDS Evaluation”.</li>
  <li><strong>March 2022:</strong> Our paper titled “In-Vehicle Network Anomaly Detection Using Extreme Gradient Boosting Machine” got accepted in the 10th International Conference on Cyber-Physical Systems (CPSIoT’2022).</li>
  <li><strong>February 2022:</strong> My presentation during the Ph.D. Lightning Talk Award at the Student Computing Research Festival (SCRF) Paul Agbaje got Honorable Mentions.</li>
  <li><strong>February 2022:</strong> Our workshop at OurCS@DFW was successful, and the team received Honorable Mentions.</li>
  <li><strong>February 2022:</strong> Our paper titled “A Framework for Consistent and Repeatable Controller Area Network IDS Evaluation” got accepted in the 4th International Workshop on Automotive and Autonomous Vehicle Security (AutoSec 2022).</li>
</ul>

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
