---
layout: archive
title: "Service"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<section class="service-section">
  <h2 class="archive__subtitle">Mentorship</h2>

  <div class="tag-group">
    <h3 class="tag-group__label">Ph.D. Students</h3>
    <ul class="tag-list">
      <li class="page__taxonomy-item">Myriam Ladhari</li>
      <li class="page__taxonomy-item">Joyce Odeh</li>
      <li class="page__taxonomy-item">Siddhant Shettiwar</li>
    </ul>
  </div>

  <div class="tag-group">
    <h3 class="tag-group__label">M.S. Students</h3>
    <ul class="tag-list">
      <li class="page__taxonomy-item">Jesse Chumo</li>
      <li class="page__taxonomy-item">Ananya Joseph</li>
      <li class="page__taxonomy-item">Pranali Khose</li>
    </ul>
  </div>

  <div class="tag-group">
    <h3 class="tag-group__label">Undergraduate Students</h3>
    <ul class="tag-list">
      <li class="page__taxonomy-item">Abraham Mookhoek</li>
    </ul>
  </div>
</section>

<section class="service-section">
  <h2 class="archive__subtitle">Editorial and Reviewing Service</h2>

  <h3 class="pub-subheading">Reviewer</h3>

  <div class="tag-group">
    <h4 class="tag-group__label">Journals</h4>
    <ul class="tag-list">
      <li class="page__taxonomy-item">IEEE Internet of Things Journal</li>
      <li class="page__taxonomy-item">IEEE Transactions on Intelligent Transportation Systems</li>
      <li class="page__taxonomy-item">Transactions on Consumer Electronics</li>
      <li class="page__taxonomy-item">Discover Internet of Things</li>
    </ul>
  </div>

  <div class="tag-group">
    <h4 class="tag-group__label">Conferences</h4>
    <ul class="tag-list">
      <li class="page__taxonomy-item">IEEE RTSS 2025</li>
      <li class="page__taxonomy-item">ICLR 2025</li>
      <li class="page__taxonomy-item">BMVC 2025</li>
      <li class="page__taxonomy-item">IEEE INDIN 2023</li>
      <li class="page__taxonomy-item">ACM Multimedia 2026</li>
      <li class="page__taxonomy-item">IJCAI-ECAI 2026</li>
    </ul>
  </div>

  <h3 class="pub-subheading">Program Committee</h3>

  <ul class="tag-list">
    <li class="page__taxonomy-item">EAI International Conference on Security and Privacy in Cyber-Physical Systems and Smart Vehicles (SmartSP), 2026</li>
    <li class="page__taxonomy-item">IJCAI-ECAI 2026 AI and Health Special Track</li>
  </ul>
</section>

<section class="service-section">
  <h2 class="archive__subtitle">Volunteer</h2>

  <div class="timeline">
    <div class="timeline__item">
      <span class="timeline__marker"></span>
      <div class="timeline__content">
        <span class="timeline__date">February 2024</span>
        <p class="timeline__text">Student volunteer at the 2nd ISOC Symposium on Vehicles Security and Privacy (VehicleSec), San Diego, CA, USA.</p>
      </div>
    </div>
    <div class="timeline__item">
      <span class="timeline__marker"></span>
      <div class="timeline__content">
        <span class="timeline__date">2022 – 2024</span>
        <p class="timeline__text">Conducted a workshop at OurCS@DFW, UTA.</p>
      </div>
    </div>
    <div class="timeline__item">
      <span class="timeline__marker"></span>
      <div class="timeline__content">
        <span class="timeline__date">November 2022</span>
        <p class="timeline__text">Student volunteer at Supercomputing 2022, Dallas, TX.</p>
      </div>
    </div>
  </div>
</section>
