---
layout: archive
title: "Service"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<div id="content" style="font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 20px; background-color: #f5f5f5; border: 1px solid #ddd; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
  <h2 style="color: #333; font-size: 24px;"><strong>Teaching</strong></h2>
  <h3>Teaching Assistant, Department of Computer Science and Engineering, UTA</h3>
  <ul>
      <li>CSE 5305: Foundations of Graduate Level Studies in Computer Science</li>
      <li>CSE 6388: Special Topics in Advance Information Security </li>
      <li>CSE 5381/4381: Information Security II </li>
      <li>CSE 6332: Cloud Computing and Big Data</li>
      <li>CSE 6332: Cloud Computing</li>
      <li>CSE 3320: Operating Systems</li>
      <li>CSE 2312: Computer Organization and Assembly Language Programming</li>
  </ul>


  <h2 style="color: #333; font-size: 24px;"><strong>Reviewer</strong></h2>
  <h3>Journals:</h3>
    <ul>
        <li>IEEE Internet of Things Journal</li>
        <li>IEEE Transactions on Intelligent Transportation Systems</li>
    </ul>

    <h3>Conferences:</h3>
    <ul>
        <li>IEEE International Conference on Industrial Informatics (INDIN) 2023</li>
    </ul>

    <h3>Secondary reviewer:</h3>
    <ul>
        <li>IEEE Real-Time Systems Symposium (RTSS) 2023</li>
    </ul>
</div>